<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/books/feed.xml" type="application/atom+xml" rel="alternate">

    <link rel="stylesheet" href="/css/simple.css">
    <link rel="stylesheet" href="/css/charts.css">
    <link rel="stylesheet" href="/css/custom.css">

    <title>Xavier Shay</title>
  </head>
  <body class='book-index'>
    <header class='page-header'>
      <nav>
 <a href='/'>Home</a>
 <a href='/books/'>Books</a>
 <a href='https://xaviershay.com'>About</a>
<a href="https://github.com/xaviershay/blog-v2"><svg class="icon" viewBox="0 0 32 32"><path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path></svg>Github</a>
      <h1>Books I've Read</h1>
      <p />
      </nav>
    </header>
    <nav class='book-list'>
      <div class='yearly-summaries'>
        <table class="year-total-summary charts-css column multiple data-spacing-2 show-labels show-heading show-data">
          <caption>Volume</caption>
          <tbody>
            <% book_total = @site.stats.flat_map {|x| x[1].book_total }.max.to_f %>
            <% page_total = @site.stats.flat_map {|x| x[1].page_total }.max.to_f %>
            <% @site.yearly_stats.each do |year, stats| %>
              <tr>
                <th scope="row"><%= year %></th>
                  <td style="--size:<%= stats.book_total / book_total %>">
                    <span class='data'><%= stats.book_total %></span>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class="year-genre-summary charts-css column multiple data-spacing-1 show-labels show-heading">
          <caption>Genre</caption>
          <tbody>
          <% total = @site.yearly_stats.flat_map {|x| x[1].categories.to_h.values }.max %>
      <% @site.yearly_stats.each do |year, stats| %>

        <% categories = stats['categories'].to_h %>
            <tr>
              <th scope="row"><%= year %></th>
              <% %i(non-fiction sci-fi fantasy literature other).each do |c| %>
                <td style="--size:<%= categories[c].to_f / total %>">
                  <%# hide-data doesn't work for skinny bars because it keeps the content around. %>
                  <span style='display:none' class='data'><%= categories[c].to_f  %></span>
                </td>
              <% end %>
            </tr>
      <% end %>
          </tbody>
        </table>
        <ul class="charts-css genre-legend legend legend-rectangle">
          <li>Non-Fiction</li>
          <li>Sci-Fi</li>
          <li>Fantasy</li>
          <li>Literature</li>
          <li>Other</li>
        </ul>
      </div>
      <% @site.readings.group_by {|x| x.finished_at.year }.each do |year, books| %>
        <div class='year-group'>
          <h3 id='list-<%=year %>'><%= year %></h3>
          <% if url = @site.recommendations_for(year) %>
            <p class='recommendations'>
              <a href='<%= url %>'>Recommendations</a>
            </p>
          <% end %>
          <% books.each do |book| %>
            <div class='book-summary'>
                <div class='date-and-rating'>
                  <span class='date'><%= book.finished_at.strftime("%b %-e, %Y") %></span>
                  <span class='rating'><%= book.stars %></span>
                </div>
                <div class='title-and-author'>
                  <a class='title' href="/books/<%= book.slug %>.html">
                    <%=h book.title %></a>
                  <em>by <%=h book.author %></em>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </nav>
    <%
      credit = OpenStruct.new(
        link: "https://unsplash.com/photos/zveMakq36UM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText",
        title: 'Books on Brown Wooden Shelf',
        author: 'Mohammad Naderi'
      )
    %>

    <div>
      <details>
        <summary>Credits</summary>
        <a href='<%= credit.link %>'>
          <em><%= credit.title %></em> by <%= credit.author %>
        </a>
      </details>
    </div>
    <footer>
      <a href='/'>Back to Index</a>
    </footer>
  </body>
</html>
