<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% if @book.updated_at %>
      <meta name="date" content='<%= @book.updated_at %>'>
    <% end %>
    <link rel="stylesheet" href="/css/simple.css">
    <link rel="stylesheet" href="/css/charts.css">
    <link rel="stylesheet" href="/css/custom.css">

    <meta property="og:locale" content="en_AU">
    <meta property="og:title" content="<%=h @book.title %> Review">
    <meta property="og:description" content="<%=h @book.summary %>">
    <meta property="og:url" content="<%= HOST %><%= @book.url %>">
    <meta property="og:image" content="https://covers.openlibrary.org/b/olid/<%= @book.id %>-M.jpg">
    <meta property="og:site_name" content="Xavier Shay">

    <title><%=h @book.title %></title>
  </head>
  <body class='book-body'>
    <header class='page-header'>
      <nav>
        <h1><%=h @book.title %></h1>
        <p><%=h @book.author %></p>
      </nav>
    </header>
    <article>
      <dl>
        <dt>Rating</dt>
        <dd class='rating' data-value='<%= @book.rating %>'>
          <%= @book.stars %>
        </dd>
        <% if @book.categories.any? %>
          <dt>Category</dt>
          <dd class='category-dd'><%= @book.categories.join(', ') %></dd>
        <% end %>
        <dt>Read</dt>
        <dd><%= @book.formatted_reads.join(", ") %></dd>
        <dt>Pages</dt>
        <dd><%= @book.pages %></dd>
      </dl>
      <%= @book.body_html %>

      <img class='cover' src="https://covers.openlibrary.org/b/olid/<%= @book.id %>-L.jpg" alt='Cover image for <%=h @book.title %>' onerror="this.style.display='none'" />
    </article>
    <footer>
      <nav>
        <a href="https://openlibrary.org/books/<%= @book.id %>">Openlibrary</a>
        <span class='separator'>|</span>
        <a href="/books/">Back to Index</a>
      </nav>
    </footer>
  </body>
</html>
