<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title type="text"><%= @title %></title>
  <link rel="self" type="application/atom+xml" href="/feed.xml" />
  <link rel="alternate" type="text/html" href="/" />
  <updated><%= @posts.first.date.xmlschema %></updated>
  <id><%= @id %></id>
  <author>
    <name>Xavier Shay</name>
    <uri>https://xaviershay.com</uri>
    <email>contact@xaviershay.com</email>
  </author>

  <% @posts.each do |post| %>
    <entry>
      <title><%= xml_escape post.title %></title>
      <link rel="alternate" type="text/html" href="<%= post.url %>" />
      <id><%= File.join(File.dirname(post.url), File.basename(post.url, ".html")) %></id>
      <updated><%= post.date.xmlschema %></updated>
      <content type="html"><%= xml_escape post.body_html %></content>
    </entry>
  <% end %>
</feed>
