<nav class=''>
  <div class='yearly-summaries'>
    <table class="year-total-summary charts-css column multiple data-spacing-2 show-labels show-heading show-data">
      <caption>Volume</caption>
      <tbody>
        <% distance_max = @site.yearly_stats.map {|x| x[1].distance }.max.to_f %>
        <% elevation_max = @site.yearly_stats.map {|x| x[1].elevation }.max.to_f %>
        <% @site.yearly_stats.each do |year, stats| %>
          <tr>
            <th scope="row"><%= year %></th>
              <td style="--size:<%= stats.elevation / elevation_max %>">
                <span class='data'><%= "%.1f" % (stats.elevation / 1000) %></span>
              </td>
              <td style="--size:<%= stats.distance / distance_max %>">
                <span class='data'><%= stats.distance.to_i %></span>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <ul class="charts-css genre-legend legend-inline legend legend-rectangle">
      <li>Vert</li>
      <li>Distance</li>
    </ul>
  </div>
  <div>
    <h3>Lifetime Bests</h3>
    <table class='bests'>
      <tr>
        <th>Distance</th>
        <th>Time</th>
        <th>Pace</th>
        <th>When</th>
        <th>Activity</th>
      </tr>
      <% @site.bests.each do |best| %>
        <tr>
          <td><%= best.event %></td>
          <td><%= format_duration(best.duration) %></td>
          <td><%= format_duration(best.duration / (best.distance / 1000.0)) %></td>
          <td style='white-space: nowrap;'><%= best.date.strftime("%Y, %B %e") %></td>
          <td><a href='<%= best.activity_href %>'><%= best.activity_title %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
</nav>
